body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.layout {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#chatbot {
  flex: 0 1 560px;
  height: 560px;
  box-shadow: rgba(145, 114, 114, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  background-color: hsl(225, 96%, 95%);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
}
#chatbot > h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20pt;
  color: #5c5c5c;
  font-weight: 800;
  text-align: center;
}
.input-box {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 8px 16px;
  display: flex;
  align-items: stretch;
}
.input-box > input {
  padding: 8px 16px;
  border: 1px solid hsl(228, 5%, 80%);
  border-radius: 8px;
  flex-grow: 1;
}
.input-box > input:focus {
  border: 1px solid #aab3b5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.input-box > button {
  background-color: hsl(225, 96%, 50%);
  color: white;
  padding: 8px 16px;
  margin-left: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.input-box > button:hover {
  background-color: hsl(225, 96%, 30%);
}
.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.chat-container > .message {
  display: inline-block;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  max-width: 75%;
}
.chat-container > .message-client {
  align-self: flex-end;
  background-color: hsl(225, 96%, 15%);
  color: white
}
.chat-container > .message-server {
  align-self: flex-start;
  background-color: white
}